@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

:root {
	--white: #fff;
	--black: #000;
	--grey: #dfdfdf;
	--splash: #025f70;
	--standard-padding: 20px; }


body {
	font: normal normal 13px/16px "Open Sans", sans-serif;
	background: var(--grey); }

.container {
	padding: var(--standard-padding);
	width: 300px;
	margin: 0 auto;
	margin-top: 40px;
	background: white;
	border-radius: 5px; }

form {
	display: inline-block; }

input {
	padding: 4px 15px 4px 5px; }

#button {
	display: inline-block;
	background-color: var(--splash);
	color: var(--white);
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
	padding: 5px 15px; }

#button:hover {
	cursor: pointer;
	opacity: .8; }

ol {
	padding-left: var(--standPadding); }

ol li {
	padding: 5px;
	color: var(--black); }

ol li:nth-child(even) {
	background: var(--grey); }

.strike {
	text-decoration: line-through; }

li:hover {
	cursor: pointer; }

.delete {
	display: none; }

li > Button {
	background: none;
	border: none;
	float: right;
	color: var(--splash);
	font-weight: 800; }